.caprasimo-regular {
  font-family: "Caprasimo", serif;
  font-weight: 400;
  font-style: normal;
}
.navbar{
    list-style-type: none;
    display: flex;
    gap: 20px;
}
body{
    padding: 0px;
    margin: 0px;
}
.list-item{
    left: 143px;
    position: relative;

}
